:root {
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --iris: #4d5ae5;
  --ocean: #404bbf;
}

/* Reset Styles */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ОСНОВНІ СТИЛІ */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: var(--navyblue);
  margin: 0;
}

/* Шапка сайту */

.logo {
  color: var(--iris);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-color {
  color: var(--navyblue);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17; 
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.menu-link {
  color: var(--navyblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.32px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--ocean);
}

.contact-link {
  color: var(--slate);
  line-height: 1.5; 
  letter-spacing: 0.32px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--ocean);
}

/* Блок Герой */

.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
}

.hero-button {
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background: var(--ocean);
}

/* Інформаційний блок */

.info-title {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.info-text {
  color: var(--slate);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.32px;
}

/* Секція */

.section-title {
  color: var(--navyblue);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/* Наша команда */

.team-name {
  color: var(--navyblue);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.team-position {
  color: var(--slate);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Підвал */

.footer-logo {
  color: var(--iris);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-color {
  color: var(--cloud);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-text {
  color: var(--cloud);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.32px;
}

/* Styles PORTFOLIO */

/* Каталог */

.menu-btn {
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background: var(--cloud);
}

.menu-btn:hover,
.menu-btn:focus {
  background: var(--ocean);
}

/* Галерея */

.category-title {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.category-name {
  color: var(--slate);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
