:root {
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --iris: #4d5ae5;
}



/* ОСНОВНІ СТИЛІ */

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--navyblue);
  margin: 0;
}



/* СТИЛІ ШАПКИ САЙТУ */


